.movie-card{
    width:280px;
    background:white;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 5px 20px rgba(0,0,0,.15);
    transition:.3s;
}

.movie-card:hover{
    transform:translateY(-8px);
}

.movie-card img{
    width:100%;
    height:380px;
    object-fit:cover;
}

.movie-content{
    padding:20px;
}

.movie-content button{
    width:100%;
    background:#e50914;
    color:white;
    border:none;
    padding:12px;
    border-radius:8px;
    cursor:pointer;
}